{% extends "base.html" %} {% block content %}
<a class="btn btn-success" href="/departments">департаметы</a>
<h1>работы которые ведутся на данный момент</h1>
{% if current_user.is_authenticated %}
<div>
    <a class="btn btn-success" href="/new_job">новая задача</a>
</div>
{% endif %}
{% if jobs_now %}
{% for item in jobs_now%}
<div>
<table>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">team leader</th>            
            <th scope="col">team</th>
            <th scope="col">hazard</th>
                        
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.team_leader}}</td>
            <td>{{item.team}}</td>
            <td>{{item.hazard}}</td>
        </tr>
    </tbody>
</table>
</div>
{{item.description}}
{% if current_user.is_authenticated and current_user.id in [1,item.id_created] %}
<a href="/edit_job?id={{item.id}}" class="btn btn-success"> изменить</a>
<a href="/delete_job?id={{item.id}}" class="btn btn-success"> удалить</a>
{% endif %}

<br>
<br>

{% endfor %} 
{% else %}
нет работ<br><br>
{% endif %}
<h1>
    уже выполнено
</h1>


{% if jobs_done %}
{% for item in jobs_done%}
<div>
<table>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">team leader</th>            
            <th scope="col">team</th>   
            <th scope="col">hazard</th>         
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.team_leader}}</td>
            <td>{{item.team}}</td>
            <td>{{item.hazard}}</td>            
        </tr>
    </tbody>
</table>
</div>
{{item.description}}
{% if current_user.is_authenticated and current_user.id in [1,item.id_created] %}
<a href="/edit_job?id={{item.id}}" class="btn btn-success"> изменить</a>
<a href="/delete_job?id={{item.id}}" class="btn btn-success"> удалить</a>
{% endif %}

<br>
<br>

{% endfor %} 
{% else %}
нет работ
{% endif %}

{% endblock %}